# python cache
__pycache__/
*.pyc
*.egg-info/

# jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# environments
venv/

# old duplicate folders
labsix/

# ignore datasets
full_data/

# ignore tcav full results
tcav_results/

# ignore
anaconda_projects/

# model checkpoints
*.pth

# build artifacts
build/
dist/










